.content-box {
    position: fixed;
    min-height: 100%;
    min-width: 40%;
}

@media only screen and (max-width: 1600px) {
    .content-box {
        position: relative;
        min-width: 100%;
    }
}
