html, body {
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.app {
    min-height: 100vh;
}

#content {
    width: 100%;
    padding-bottom:73px;
}

#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 73px;            /* Footer height */
    margin-top: -73px;
    clear:both;
    background-color: #5cb85c;
}
