body {
    margin: 40px;
}

.wrapper {
    background-color: #001d27;
    padding: 2%;
    border-radius: 3px;
    display: table;
    width: 100%;
}

h4 {
    margin-bottom: 15%;
}

.box {
    display: table-cell;
    background-color: white;
    color: #313131;
    text-align: center;
    border-radius: 3px;
    padding: 20px;
    min-height: 90vh;
    margin: 0.5%;
}

.btn {
    width: 100%;
    text-align: left;
}

.task {
    margin: 5px;
    padding: 10%;
    color: black;
    border-radius: 3px;
}

#box1
{
    background-color: #1e9032;
}
